{{#each commits}}
<div class="Box-row d-flex flex-items-center Box-row--hover-blue {{#if deployment.latest}}Box-row--unread{{/if}}">
  <div class="flex-auto">
    <div class="position-relative" style="display: inline-block;">
      <a class="text-gray-dark" href="/{{owner}}/{{repo}}/target/{{target}}/branch/{{branch}}/o/{{oid}}">
        {{message}}
      </a>
      {{> commit_status}}
    </div>

    <div class="text-gray-light">
      <strong><code>{{oidShort}}</code></strong> - <a href="https://github.com/{{author}}">@{{author}}</a>
    </div>
  </div>
  <div class="d-none-sm text-gray-light mr-3 {{#if @root.minimal}}loader{{/if}}">
    {{#if deployment.lastDeployedAtWords}}
      Last deployed {{deployment.lastDeployedAtWords}}
    {{/if}}
  </div>
  {{#if ../target}}
    {{> deploy_status}}
  {{/if}}
</div>
{{/each}}
