<form class="mr-2" style="display: inline-block;" method="POST" action="/{{owner}}/{{repo}}/target/{{target}}/branch/{{branch}}/o/{{oid}}">
  <input type="hidden" name="_csrf" value="{{@root.csrf}}">

  <button type="submit" data-oid="{{oid}}" aria-label="Rollback to the previous commit '{{oidShort}}' on {{target}}."
    class="deploy btn btn-sm tooltipped tooltipped-n"
    name="button">
    Rollback
  </button>
</form>
