{{#if lock}}
<form style="display: inline-block;" method="POST" action="/{{owner}}/{{repo}}/unlock">
  <input type="hidden" name="_csrf" value="{{@root.csrf}}">

  <button type="submit" aria-label="Unlock this project to allow deploys to continue."
    class="deploy btn btn-sm btn-danger tooltipped tooltipped-n"
    name="button">
    Unlock
  </button>
</form>
{{else}}
<form style="display: inline-block;" method="POST" action="/{{owner}}/{{repo}}/lock">
  <input type="hidden" name="_csrf" value="{{@root.csrf}}">

  <button type="submit" aria-label="Lock this project to stop deploys."
    class="deploy btn btn-sm tooltipped tooltipped-n"
    name="button">
    Lock
  </button>
</form>
{{/if}}
