<div class="Box-header bg-white">
  <h4 class="mb-2 mt-2 text-{{deployment.status.color}}">
    {{#if deployment.status.success}}All deployments have succeeded{{/if}}
    {{#if deployment.status.pending}}Waiting for an in-progress deployment{{/if}}
    {{#if deployment.status.failure}}Deployments have failed{{/if}}
    {{#if deployment.status.waiting}}Waiting for a deployment to be reported{{/if}}
  </h4>
  {{#if deployment.lastDeployedAtWords}}
    <p>Last deployed {{deployment.lastDeployedAtWords}}</p>
  {{/if}}
</div>
{{#each deployments}}
<div class="Box-row">
  <span class="text-{{status.color}} mr-2">
    {{#if status.success}}{{> icon_check}}{{/if}}
    {{#if status.pending}}{{> icon_dot}}{{/if}}
    {{#if status.failure}}{{> icon_x}}{{/if}}
    {{#if status.waiting}}{{> icon_clock}}{{/if}}
  </span>
  <strong>{{environment}}</strong>
  <i>{{description}}</i>
  by {{creator}}
  {{#if url}}
  <a href="{{url}}" class="float-right">Details</a>
  {{/if}}
</div>
{{/each}}
