</main>
<script>
  var config = {
    page: "{{page}}",
    hash: "{{hash}}",
    repo: {
      owner: "{{owner}}",
      repo: "{{repo}}",
      repoId: "{{repoId}}",
    },
  };
</script>
<script src="https://unpkg.com/handlebars@4.1.2/dist/handlebars.runtime.min.js"></script>
<script src="/probot/static/partials.js"></script>
<script src="/app/init.js"></script>
<script src="/probot/static/app.js"></script>
</body>
</html>
