<footer class="bg-gray-dark">
  <div class="d-flex flex-justify-center text-mono text-gray-light flex-wrap" style="font-size: 0.9em;">
    <div class="p-6">
      <ul class="list-style-none">
        <li><a class="text-gray-light" href="/login">Login</a></li>
        <li><a target="_blank" class="text-gray-light" href="{{pkg.community}}">Community</a></li>
        <li><a target="_blank" class="text-gray-light" href="{{pkg.homepage}}/status">Status</a></li>
      </ul>

      <ul class="mt-2 list-style-none">

      </ul>
    </div>

    <div class="p-6">
      <ul class="list-style-none">
        <li><a target="_blank" class="text-gray-light" href="{{pkg.documentation}}">Docs</a></li>
        <li><a target="_blank" class="text-gray-light" href="{{pkg.homepage}}/blog">Blog</a></li>
      </ul>
    </div>

    <div class="p-6 text-gray-light">
      <ul class="list-style-none">
        <li>
          Created by <a target="_blank" class="text-gray-light" href="{{pkg.homepage}}">@deliverybot</a>
        </li>
        <li><a class="text-gray-light" href="mailto:{{pkg.support}}">{{pkg.support}}</a></li>
      </ul>

      <ul class="mt-3 list-style-none" style="font-size: 0.9em;">
        <li>
          <a target="_blank" class="text-gray-light" href="{{pkg.homepage}}/terms/terms">Terms</a> |
          <a target="_blank" class="text-gray-light" href="{{pkg.homepage}}/terms/privacy">Privacy</a>
        </li>
        <li class="text-gray-light text-sm">Copyright © 2019 Deliverybot</li>
      </ul>
    </div>
  </div>
</footer>

</body>
</html>
