<!DOCTYPE html>
<html lang="en" class="height-full">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{pkg.name}}</title>
  <link rel="icon" href="/static/probot-head.png">
  <link rel="stylesheet" href="https://unpkg.com/@primer/css@12.5.0/dist/primer.css">
  <link rel="stylesheet" href="/static/main.css">
  <meta name="turbolinks-cache-control" content="no-cache">

  <script defer src="https://unpkg.com/turbolinks@5.2.0/dist/turbolinks.js"></script>
  <script defer src="https://unpkg.com/handlebars@4.1.2/dist/handlebars.runtime.min.js"></script>
  <script defer src="/static/partials.js"></script>
  <script defer src="/static/init.js"></script>
  <script defer src="/static/app.js"></script>
</head>

<body class="height-full bg-gray-light">
<header>
<nav class="box-shadow navbar d-flex flex-justify-between">
  <div>
    <a href="/">
      <h3 style="display: inline;">Deliverybot</h3>
    </a>
    <span class="Label Label--outline v-align-middle ml-2 text-gray-light">v{{pkg.version}}</span>
    <a href="/" class="ml-3">
      Repositories
    </a>
  </div>
  <div>
    <a target="_blank" class="mr-2" href="{{pkg.documentation}}">Docs</a>
    <a class="mr-2" href="mailto:{{pkg.support}}">Help</a>
    <a target="_blank" class="mr-2" href="{{pkg.github}}">GitHub</a>
    <a href="/logout">Logout</a>
  </div>
</nav>
