{{> header}}

<div class="content d-flex flex-justify-between">
  <h2>
    <a href="https://github.com/{{owner}}">{{ owner }}</a> /
    <a href="https://github.com/{{owner}}/{{repo}}">{{ repo }}</a>
  </h2>
  <a href="/" role="button" class="btn btn-outline">&lt; Repos</a>
</div>
