{{> repo_header}}

<nav class="UnderlineNav">
  <div class="content">
    <div class="UnderlineNav-body">
      <a href="/{{owner}}/{{repo}}" role="tab" title="Deploy" class="UnderlineNav-item selected">Deploy</a>
    </div>
  </div>
</nav>
</header>

<div class="bg-white fill">
  <div class="content">
    <details class="details-reset details-overlay pt-3" style="display: inline-block;">
      <summary class="btn btn-sm" type="button" aria-haspopup="true" aria-expanded="true">
        Target: <b>{{target}}</b>
      </summary>
      <div class="SelectMenu">
        <div class="SelectMenu-modal">
          <menu class="SelectMenu-list">
            {{#each targets}}
            <a href="/{{../owner}}/{{../repo}}/target/{{name}}/branch/{{../branch}}" class="SelectMenu-item" role="menuitem">
              {{name}}
            </a>
            {{/each}}
          </menu>
        </div>
      </div>
    </details>

    <details class="details-reset details-overlay pt-3" style="display: inline-block;">
      <summary class="btn btn-sm" type="button" aria-haspopup="true" aria-expanded="true">
        Branch: <b>{{branch}}</b>
      </summary>
      <div class="SelectMenu">
        <div class="SelectMenu-modal">
          <menu class="SelectMenu-list">
            {{#each branches}}
            <a href="/{{../owner}}/{{../repo}}/target/{{../target}}/branch/{{name}}" class="SelectMenu-item" role="menuitem">
              {{name}}
            </a>
            {{/each}}
          </menu>
        </div>
      </div>
    </details>

    {{#with previous}}
      {{> deploy_rollback}}
    {{/with}}

    {{#if noConfig}}
    <div class="flash mt-3">
      <p>
        You haven't setup a <code>.github/deploy.yml</code> file yet.
        Deliverybot can't deploy without this configuration file.
      </p>
        <a class="btn btn-outline" role="button" target="_blank" href="{{fileUrl}}">Create a config file</a>
    </div>
    {{/if}}

    <div class="Box mt-3" id="commit_rows">
      {{> commit_rows}}
    </div>
  </div>
</div>

{{> footer}}
