{{> repo_header}}

<nav class="UnderlineNav">
  <div class="content">
    <div class="UnderlineNav-body">
      <a href="/{{owner}}/{{repo}}/target/{{target}}/branch/{{branch}}" role="tab" title="Deploy" class="UnderlineNav-item">Deploy</a>
    </div>
  </div>
</nav>
</header>

<div class="bg-white fill">
  <div class="content pb-10">

    <div class="position-relative mt-3">
      <div id="targets" class="Popover position-absolute d-none" style="top: 130%; left: 0;">
        <div class="Popover-message Popover-message--top-left mx-auto mb-2 text-left Box Box-condensed box-shadow-large">
          {{#each targets}}
            <a href="/{{../owner}}/{{../repo}}/target/{{name}}/branch/{{../branch}}/o/{{../oid}}" class="SelectMenu-item" role="menuitem">
              <code>{{name}}</code>
            </a>
          {{/each}}
        </div>
      </div>
      <button class="btn btn-sm" data-toggle="targets">Target: {{target}}</button>
    </div>

    <div class="Box mt-3">
      <div class="Box-footer pb-5 bg-gray-light position-relative">
        <div id="syncing"
          class="tooltipped tooltipped-n float-right"
          aria-label="Watching deployment statuses. Deployments below will update on change.">
          {{> icon_clock}}
        </div>
        <div class="position-relative" style="display: inline-block;">
          <h4 style="display: inline;">
            <a class="text-gray-dark" target="_blank" href="https://github.com/{{owner}}/{{repo}}/commit/{{oid}}">
              {{message}}
            </a>
          </h4>
          <span id="commit_status">
            {{> commit_status}}
          </span>
        </div>
        <div class="text-gray-light">
          <strong><code>{{oidShort}}</code></strong> - <a href="https://github.com/{{author}}">@{{author}}</a>
        </div>
      </div>
      <div class="Box-body">
        <pre><code>{{message}}</code></pre>
      </div>
      {{#if error}}
      <div class="p-4">
        <h2>Deployment failed</h2>
        <p id="error" class="text-red">{{error}}</p>
      </div>
      {{else}}
      <div id="deploy_status_body" style="transition: 0.5s;">
        {{#if minimal}}
          <h1 class="p-4 loader text-center"></h1>
        {{else}}
          {{> deploy_status_body}}
        {{/if}}
      </div>

      <div class="Box-footer">
        {{> deploy_button}}
      </div>
      {{/if}}
    </div>
  </div>
</div>

{{> footer}}
