{{> repo_header}}

<nav class="UnderlineNav">
  <div class="content">
    <div class="UnderlineNav-body">
      <a href="/deploy/{{owner}}/{{repo}}" role="tab" title="Deploy" class="UnderlineNav-item selected">Deploy</a>
    </div>
  </div>
</nav>
</header>

<div class="bg-white fill">
  <div class="content">
    <details class="details-reset details-overlay pt-3" style="display: inline-block;">
      <summary class="btn btn-sm" type="button" aria-haspopup="true" aria-expanded="true">
        Target: <b>{{target}}</b>
      </summary>
      <div class="SelectMenu">
        <div class="SelectMenu-modal">
          <menu class="SelectMenu-list">
            {{#each targets}}
            <a href="/deploy/{{name}}/{{../owner}}/{{../repo}}/{{../branch}}" class="SelectMenu-item" role="menuitem">
              {{name}}
            </a>
            {{/each}}
          </menu>
        </div>
      </div>
    </details>

    <details class="details-reset details-overlay pt-3" style="display: inline-block;">
      <summary class="btn btn-sm" type="button" aria-haspopup="true" aria-expanded="true">
        Branch: <b>{{branch}}</b>
      </summary>
      <div class="SelectMenu">
        <div class="SelectMenu-modal">
          <menu class="SelectMenu-list">
            {{#each branches}}
            <a href="/deploy/{{../target}}/{{../owner}}/{{../repo}}/{{name}}" class="SelectMenu-item" role="menuitem">
              {{name}}
            </a>
            {{/each}}
          </menu>
        </div>
      </div>
    </details>

    <div class="Box mt-3" id="commits">
      {{#each commits}}
      <div class="Box-row d-flex flex-items-center Box-row--hover-blue">
        <div class="flex-auto">
          <div class="position-relative" style="display: inline-block;">
            <a class="text-gray-dark" target="_blank" href="https://github.com/{{owner}}/{{repo}}/commit/{{oid}}">
              {{message}}
            </a>
            {{> commit_status}}
          </div>

          <div class="text-gray-light">
            <strong><code>{{oid}}</code></strong> - <a href="https://github.com/{{author}}">@{{author}}</a>
          </div>
        </div>
        {{#if ../target}}
          {{> deploy_status}}
        {{/if}}
      </div>
      {{/each}}
    </div>
  </div>
</div>

<script>
  (function () {
    var active;
    function toggle(id) {
      if (active) {
        dismiss(active);
      }
      if (active === id) {
        active = null;
        return;
      }
      active = id;
      var el = document.getElementById(id);
      el.classList.add("d-block");
      el.classList.remove("d-none");
    }
    function dismiss(id) {
      var el = document.getElementById(id);
      el.classList.add("d-none");
      el.classList.remove("d-block");
    }
    var toggles = document.querySelectorAll('[data-toggle]');
    for (var i = 0; i < toggles.length; i++) {
      toggles[i].addEventListener('click', function(e) {
        e.preventDefault();
        toggle(this.dataset.toggle);
      });
    }
  })();
</script>

<script id="deployment" type="text/x-handlebars-template">
Hello
</script>
{{> footer}}
