{{> header}}
</header>

<div class="content">
  <div class="box-shadow rounded-2 border p-6 bg-white">
    <div class="text-center">
      <h1 class="f1-light">Welcome to Deliverybot</h1>
      <p>
        If you have any questions <a href="{{site.spectrum_url}}">join the community</a>
        or <a href="mailto:{{site.support_email}}">send us an email</a>. We're
        happy to chat!
      </p>

      <hr>
    </div>

    <div id="list" class="Box mt-5" style="border: none; margin: 0;">
      {{#each installs}}
      {{#each repos}}
      <div class="Box-row d-flex flex-justify-between">
        <a href="/{{owner.login}}/{{name}}"><strong>{{owner.login}} / {{name}}</strong></a>
        <a target="_blank" href="{{../htmlUrl}}">Manage installation</a>
      </div>
      {{/each}}
      {{else}}
      <div class="text-center">
        <p class="lead">
          You don't have deliverybot installed on any repositories.
        </p>
        <a class="btn btn-outline" role="button" target="_blank" href="https://github.com/apps/{{ pkg.name }}/installations/new">
          Install now
        </a>
      </div>
      {{/each}}
      {{#if hasInstalls}}
      <div class="text-center mt-5">
        <p>
          Above are all the installed repositories that you can manage. You can
          <a href="https://github.com/apps/{{ pkg.name }}/installations/new">install</a>
          Deliverybot on a new repository or click on a repository to start deploying.
        </p>
      </div>
      {{/if}}
    </div>
  </div>
</div>
{{> footer}}
