{{> header}}
</header>

<div class="content">
  <div class="box-shadow rounded-2 border p-6 bg-white">
    <div class="text-center">
      <h3>Welcome to {{pkg.name}}</h3>
      <p>
        Below are all the installed repositories that you can manage.
      </p>
      <hr>
    </div>

    <div id="list" class="Box mt-5" style="border: none; margin: 0;">
      {{#each installs}}
      {{#each repos}}
      <div class="Box-row d-flex flex-justify-between">
        <a href="/{{owner.login}}/{{name}}"><strong>{{owner.login}} / {{name}}</strong></a>
        <a target="_blank" href="{{../htmlUrl}}">Manage installation</a>
      </div>
      {{/each}}
      {{else}}
      <div class="text-center">
        <p class="lead">
          You don't have deliverybot installed on any repositories.
        </p>
      </div>
      {{/each}}
      <div class="text-center mt-5">
        <a class="btn btn-outline" role="button" target="_blank" href="https://github.com/apps/{{ pkg.name }}/installations/new">
          Install
        </a>
      </div>
    </div>
  </div>
</div>
{{> footer}}
