{{> repo_header}}

<nav class="UnderlineNav">
  <div class="content">
    <div class="UnderlineNav-body">
      <a href="/deploy/{{owner}}/{{repo}}" role="tab" title="Deploy" class="UnderlineNav-item">Deploy</a>
      <a href="/secrets/{{owner}}/{{repo}}" role="tab" title="Secrets" class="UnderlineNav-item selected">Secrets</a>
    </div>
  </div>
</nav>
</header>

<div class="bg-white fill">
  <div class="content pt-5">

    <div id="list">
      <div class="Box">
        {{#each secrets}}
        <div class="Box-row d-flex flex-items-center">
          <div class="flex-auto">
            <strong>{{name}}</strong>
            <div class="text-small text-gray-light">
              {{#if reveal}}
              <code>{{value}}</code>
              {{else}}
              <code>********</code>
              {{/if}}
            </div>
          </div>
          <button data-name="{{name}}" type="button" class="delete btn btn-outline" name="button">
            Delete
          </button>
        </div>
        {{else}}
        <p class="text-center text-gray-light">
          You don't have any secrets attached to this repository. Add a
          secret to get started.
        </p>
        {{/each}}
      </div>
      <div class="mt-3 text-center">
        <button id="add-secret" class="btn btn-primary" type="button">Add variable</button>
      </div>
    </div>

    <div id="error" style="color: red;"></div>

    <form id="add">
      <div id="secret" class="hidden mt-5">
        <dl class="form-group">
          <dt><label for="secret-name">Name</label></dt>
          <dd>
            <input type="text" class="form-control input-block" id="secret-name">
          </dd>
        </dl>
        <dl class="form-group">
          <dt><label for="secret-value">Value</label></dt>
          <dd>
            <textarea class="form-control" id="secret-value"></textarea>
          </dd>
        </dl>
        <div class="form-actions">
          <button type="submit" class="btn btn-primary">Save changes</button>
          <button type="button" class="btn cancel">Cancel</button>
        </div>
      </div>
    </form>
  </div>
</div>

<script>
  var active = null;
  var error = document.getElementById("error");
  var cancel = document.getElementsByClassName('cancel')
  for (var i = 0; i < cancel.length; i++) {
    cancel[i].onclick = function () {
      active = null;
      document.getElementById("secret").classList.add("hidden");
      document.getElementById("list").classList.remove("hidden");
    };
  }

  var deletes = document.getElementsByClassName('delete')
  for (var i = 0; i < deletes.length; i++) {
    deletes[i].onclick = function () {
      var name = this.getAttribute('data-name');
      fetch(window.location.href, {
        method: "POST",
        headers: { 'content-type': 'application/json' },
        body: JSON.stringify({
          action: "remove",
          name: name,
        }),
      }).then(result => {
        if (result.status !== 200) {
          error.innerText = "Request failed"
          return
        }
        window.location.reload()
      }).catch(error => {
        error.innerText = "Request failed"
      });
    };
  }


  document.getElementById("add-secret").onclick = function () {
    active = "secret";
    document.getElementById("secret").classList.remove("hidden");
    document.getElementById("list").classList.add("hidden");
  };
  function getAddData() {
    return {
      action: "add",
      name: document.getElementById("secret-name").value,
      value: document.getElementById("secret-value").value,
    }
  }
  document.getElementById("add").onsubmit = function (e) {
    e.preventDefault();
    fetch(window.location.href, {
      method: "POST",
      headers: { 'content-type': 'application/json' },
      body: JSON.stringify(getAddData()),
    }).then(result => {
      if (result.status !== 200) {
        error.innerText = "Request failed"
        return
      }
      window.location.reload()
    }).catch(error => {
      error.innerText = "Request failed"
    });
  }
</script>

{{> footer}}
